:root{
    --background-color: #ffffff;
    --layout-color: #3a8180;
}

.o-mail-DiscussSidebarCategory{
    height: 74px;
    background-color: white !important;
}
.o-mail-DiscussSidebarCategory span{
    color: black!important;
}

.o-mail-DiscussSidebarCategory-icon{
    color: black!important;
}
.o-mail-DiscussSidebarCategory-add{
    color: black!important;
}

i.o_DiscussSidebarCategory_command{
    color: black!important;
}