element.style {
    box-shadow: 0px;
}
.pos .popup input, .pos .popup-input {
    min-height: 25px;
    font-family: "Lato";
    font-size: 20px;
    color: #444;
    padding: 11px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px gainsboro inset;
    box-sizing: border-box;
    width: 10%;
}
div#ThirdDiv {
    display: flex;
}
#CheckButtonId {
    /* border-radius: 0.25em; */
    margin-left: 17px;
    margin-bottom: 3px;
}
.addons_items {
    margin-left: 23px;
    align-content: center;
}
.order-question-popup {
    font-weight: bold;
}
.pos-receipt .orderline-add-options {
    display: none;
}