.header-section { background-color:#024c80;}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .contact-us-form-container  input::placeholder{
    color: #000 !important;
  }
  .contact-us-form-container textarea::placeholder{
    color: #000 !important;
  }


  .call-section img{ width:18px;  }

  .email-section img{ width:18px;
        margin-left: 20px;}

  .social-media-icons img { width:18px; margin: 10px; }

  .navbar-brand img { width: 160px;}
  .carousel-item{ position: relative; }

  .carousel-content{ position: absolute; z-index:999; top: 187px; left: 227px; }
  .carousel-inner{ height: 484px; }

  .container-24-hours{ background-color:#0480e1; font-size:22px; height:287px; }

  .container-24-hours img{ width: 255px; }

  .container-24-hours span img{ width: 50px; }

  .container-doctors-time-table{background-color:#13457a;  }

  .container-doctors-time-table img{ width:75px; }

  .btn-timetable{ background-color:#0480e1; }
  .container-doctors-time-table { height: 287px; }
  .a-time-table{ border-radius:4px; font-size: 14px; }

  .opening-time{ background-color:#0480e1;  height: 287px;  }

  .opening-time img { width:75px; }
  .opening-time p{ font-size: 22px; }

  .opening-time table{ font-size: 13px; }

  .navbar-expand-lg .navbar-nav .nav-link { font-size: 14px; font-weight: 600; }
  .navbar .navbar-collapse {
    margin-left: 30%;
    }
.section-service{ position: relative; top:-72px;}
.about-container ul li{ list-style:none; }
.about-container ul li img{ width:20px; }
.about-container ul li { margin-bottom:18px; font-size: 16px; }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facilities-container{ background-color:#e7e9eb; }

.facilities-content{ font-size: 16px; color: #0480e1; }

.facilities-header{ font-size:18px;  }

.about-content-right-side{
    background-image: url(/theme_medicate/static/src/img/pharma-theme-about-content.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size:contain;
    background-position:right;   }

.about-count{ width: 40%; text-align: center; float: right; }

.section-great-work{
    background-image: url(/theme_medicate/static/src/img/pharma-theme-greate-work-do.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; }

.great-work-container img:hover { opacity:.5 ; }

.great-work-container{ background-color:#333; }

.btn-great-work{ position: absolute;
  z-index: 999;
  bottom: 21%;
  left: 104px;
  padding: 16px; background-color: #fff; display: none; }

  .btn-great-work a{ color:#0480e1; }

  .great-work-container:hover .btn-great-work{ display: block; }

  .container-working-progress h3 { font-size: 18px; }

  .container-working-progress p { font-size:14px; color:#717171; }
.container-heart-speclist-name{

  position: absolute;
  background-color: #fff;
  width: 62%;
  bottom: -18px;
  left: 66px;
  padding: 9px;

}

.section-footer{ background-color:#13457a; }
.about-footer ul li{ list-style:none;  display: contents; }

.about-footer ul li img{ width:13%; }
.container-our-courses{ padding-left: 55px; }
.container-our-courses h3{ font-size:24px; line-height: 72px; }
.container-our-courses ul li{ list-style:none; }

.recent-post-img img{ width:82% ; }
.recent-post-img{ float: left; width: 40%; }

.recent-post{ border-bottom:1px solid #1d5782 ;  }
.phone-icon img{ width:15%; }

.phone-icon span { font-size:16px; padding-left: 4px;  }

.copyright-container{ font-size: 14px; border-top:1px solid #155187; }

.container-newsletter{ background-color: #0480e1;
  width:100%;
  margin: auto;
  top: -139px;
  position: relative; }

  .btn-submit{ text-align: center; }

  .section-clients{ margin-bottom: 90px; }

  .container-newsletter img { width:18%; padding-top: 12px; }

  .container-newsletter span{ font-size: 26px;
    padding-left: 16px;
    display: block;
    float: right;
    width: 80%; }

    .btn-submit { background-color:#ffffff; padding: 20px 63px; }

    .input-email-submit{ width:284px; height:65px ; background-color: #0e8be2; border: none; outline: none; }


    /* About us Page */


    .sub-page-banner{
        background-image: url(/theme_medicate/static/src/img/pharma-theme-about-us-banner.jpg);
        background-repeat: no-repeat;
        height: 400px;
        background-size: cover;  }

.abouts-banner-content h3{ font-size:38px; }

.abouts-banner-content { height: 400px; display: table-cell; vertical-align: middle; }

.ul-about-page li{ list-style: none; }

.ul-about-page li img{ width:16px; margin-right:5px; }

.p-about-number{ font-size:32px; }

.phone-number-container span { color: #0e8be2; font-size: 23px; }

.about-service-container { background-color: #ffffff; }

.section-our-main-serice{ background-color:#f4f6f9; }

.about-service-container{ background-color:#fff; }

.about-service-container p{ color: #666666;  }

.section-our-main-serice{  padding-bottom: 90px; }

.section-counts{ background-color:#0480df; }

.section-counts h2{ font-size:52px; }

.section-work-best-process{
    background-color:#14457b;
    background-size:100%;
    background-image: url(/theme_medicate/static/src/img/bg-work-process.jpg);
    background-repeat: no-repeat;
    background-position: bottom; }

/* Services page */

.service-container .nav{ float: left;
  display: block;
  width:30%;
  text-align: center;
  background-color: #f1f3f6;
  padding: 27px;}

.service-container .tab-content{ float: right; width: 65%; }

.service-container .nav-pills .nav-link{ text-align: left;
  background-color: #fff;
  margin-top: 12px;
  padding: 13px; color: #333333; border: 1px solid #fff; font-size: 15px; }

  .service-container .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #fff;
    color: #000;
    border: 1px solid #0480df; }

 .tab-content-service h3{ font-size: 34px; }

 .tab-content-service p{ font-size: 14px; color: #333; }

 .tab-content-service ul li{ list-style: none; }

 .tab-content-service ul li span img{ width:18px; }

 .ul-tab-contents{ margin-right: 110px; }

 .container-service-eyecare img { width:90%; }

 .service-container { margin-bottom:146px !important; }

 /* contact us */

 .contact-us-container p{ color:#6E6E6E; font-size: 16px; }

 .section-contact-us { margin-bottom:80px; }

.container-get-in-touch{
padding:100px;
-webkit-box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25);
-moz-box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25);
box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25);
 }

 .btn-send-message{ background-color: #2490eb; border-radius:8px; }

 .container-send-message-btn{ display: block; margin-top: 46px;}

 /* blog page */

 .icons-container{ border-bottom: 1px solid #d4d3d3; }

 .icons-container span{ color: #7e7e7e; font-size: 14px; }

 .blog-container{  -webkit-box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25);
  box-shadow: 1px -2px 13px -3px rgba(0,0,0,0.25); position: relative; }

  .blog-month-date{ background-color: #2490eb ; position: absolute; border-radius: 8px; top:471px;
    left: 26px; }

    .blog-search-container{ background-color:#047fdc; }

    .blog-search-container button { width: 48px; height:38px;
        background-color:#14457b;
        box-shadow: none; border: none;
        background-image: url(/theme_medicate/static/src/img/images/seach-icon-blog.png);
        background-repeat: no-repeat;
        background-position: center;   }

    .right-side-menus  h3{ font-weight:600; }

    .right-side-menus{ background-color:#ececec; }

    .right-side-menus ul li{ list-style: none; }

    .right-side-menus ul li a{ display: block; }


    input::placeholder {
      color:#fff;
      opacity: 0.5;
    }

    .navbar-toggler{
        background-image: url(/theme_medicate/static/src/img/menu.png);
        background-repeat: no-repeat;
        background-size: 58%;   }

    .section-heart-specilits { margin-top: 30px; }
    .section-great-work { margin-top: 82px !important; }
    .section-about-content{ margin-top: 82px !important; }
    .section-what-facilities-provided{ margin-top: 82px !important; }
    .section-about{ margin-top: 42px; }

    .container-newsletter{ top:-54px !important; }
    .icons-container img{ width: 4% !important; }


    @media (max-width:1200px) {

      .blog-month-date{ top:384px; }
      .btn-submit {
        padding: 20px 44px;
    }
    .container-our-courses ul{ margin-left: 0px !important; }
    .section-about-page-content h3{ margin-top: 12px; }

    .icons-container img{ width: 4% !important; }

    }

    @media (max-width:991px) {

 .section-footer .footer-contact-us{ padding-left: 0px !important; }

.blog-month-date{ top:384px; }
.container-service-eyecare img{ margin-top: 12px; }
.blog-img{ margin: 15px 0px; }

.container-newsletter{ top:-54px !important; }
.container-our-courses ul{ margin-left:0px !important; }
.container-our-courses{ padding-left: 0px !important; }
.container-our-courses h3 { text-align: left; }
.container-newsletter img{ padding-bottom: 26px; width: 12% !important; }
.container-doctors-time-table{ margin:12px 0px; }
.about-container{ padding-top: 12px; }
.about-content .a-time-table{ margin:11px 0px !important; }
.carousel-control-prev, .carousel-control-next{ height: 67%; }

.about-footer img { width:50% !important ; }

.about-footer ul li a img{ width: 8% !important; }
.phone-icon img { width: 5% !important; }
.recent-post-img { width: 18% !important; }
.navbar-nav .nav-item { margin-left: 0px !important; }

    }

    @media (max-width: 768px) {

      .carousel-control-prev{ height: 62%; }
      .carousel-control-next{ height: 62%; }
      .container-doctors-time-table { margin:20px 0px; }
      .about-container { margin-top: 35px; }
      .about-content{ padding-top: 0px !important; }
      .about-content a {  margin-top: 10px !important;
        margin-bottom: 22px; }

       .section-footer .container-our-courses {
          padding-left: 0px !important;
      }

      .container-our-courses ul{ margin-left: 0px !important; }

      .container-our-courses h3{ text-align: left; }

      .container-email-form{ margin-top: 30px; float: left; width: 100%; }

      .navbar-nav .nav-item { margin-left: 0px !important; }
      .btn-great-work{ left: 4px; }
      .section-about-page-content h3{ margin-top: 12px; }

     .section-about-page-content .ul-about-page { margin-top: 0px !important; }
     .container-best-process { margin-top: 15px !important; }
     .container-service-eyecare img{ margin-top: 20px; }

     .service-container .nav{ width: 100%; }
     .service-container .tab-content{ width: 100%; }

     .container-service-eyecare img { width: 100%; }
     .input-email-submit{ width: 100%; }
     .container-email-form .btn-submit{
      width: 100%; margin-left: 0px !important; margin-top: 12px;}
      .ul-tab-contents{ width: 100%; margin-right: 0px; }
     .service-container .tab-pane{ padding: 0px !important;margin-top: 12px; }
      .container-newsletter{ top:-49px !important; }
      .contact-textarea { width: 50.5% !important; }

      .blog-month-date{ top:270px; }

      .blog-img{ margin: 15px 0px;}

      .about-footer img { width:50% !important ; }

      .about-footer ul li a img{ width: 8% !important; }
      .phone-icon img { width: 5% !important; }
      .recent-post-img { width: 18% !important; }

     }

     @media (max-width:568px) {
      .btn-great-work{ left:7px; }
      .blog-month-date {
        top:272px;
      }
      .container-email-form .btn-submit { margin-left: 50px ; width: 100%; margin-top:0px; text-align: center;}

      .input-email-submit{ width: 100%; }

      .section-about-page-content h3{ margin-top: 12px; }
      .about-service-container .ul-about-page { margin-top: 0px !important; }

      .container-best-process { margin-top: 15px !important; }
      .container-newsletter{ top:-54px !important; }
      .contact-textarea{ width: 110% !important; }

     }

     @media (max-width: 468px) {
      .blog-month-date {
        top: 164px;
      }
    }
 .container-email-form .btn-submit { margin-left: 20px ; width: 100%; margin-top: 14px; text-align: center; }

 .py-2 {
    padding-top: 0.0rem !important;
    padding-bottom: 0.0rem !important;
}

.p-4 {
    padding: 1.5rem!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.w-100 {
    width: 100%!important;
}
.float-left {
    float: left!important;
}
.blog-search-container {
    background-color: #047fdc;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
text-white {
    color: #fff!important;
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}
@media (max-width: 1200px)
.blog-month-date {
    top: 384px;
}
.blog-month-date {
    background-color: #2490eb;
    position: absolute;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 471px;
    left: 26px;
}
text-uppercase {
    text-transform: uppercase!important;
}

.w-100 {
    width: 100%!important;
}
.float-left {
    float: left!important;
}
.icons-container {
    border-bottom: 1px solid #d4d3d3;
}
.icons-container img {
    width: 4% !important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.font-weight-bold {
    font-weight: 700!important;
}
.a-time-table {
    border-radius: 4px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
}

.btn-timetable {
    background-color: #0480e1;
}
.mb-2, .my-2 {
margin-bottom: 0.5rem!important;
}

.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
