/* Test assistant button css */
.message_container_div {
    background-color: #fff;
    color: #333;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    margin-inline: 50px;
    margin-top: 20px;
}
.message_container_div:hover {
    transform: scale(1.05);
}
