/*Website button css  */
.voice-assistant-button {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(17, 135, 147, 1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 255, 127, 0.7);
    transition: transform 0.2s, box-shadow 0.2s;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px rgba(0, 255, 127, 0.9);
    }
}
.user_input_field{
   width: 100%;
   border-radius: 8px;
   background-color: #FFFFFF;
   padding: 10px;
   border: 1px solid var(--o-border-color);
}
