/* styles.css */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    flex: 1;

    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
}
.col-6 {
    flex: 0 0 50%;
}
.col-4 {
    flex: 0 0 33.33%;
}
.col-12 {
    flex: 0 0 100%;
}
@media (max-width: 768px) {
    .col {
        flex: 0 0 100%;
    }
}
.drive_th_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    width: 100%;
    column-gap: 20px;
    height: 95vh;
}
@media (max-width: 768px) {
    .drive_th_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 768px));
        width: 100%;
        column-gap: 20px;
    }
}
.drive_th_chat_left h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.drive_th_chat_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: rgba(33, 35, 38, 0.1) 1px 0px 16px -7px;
    background-color: white;
    height: auto;
    padding: 40px 25px;
    overflow: auto;
}
@media (max-width: 768px) {
    .drive_th_chat_left {
        margin-bottom: 40px;
    }
}
.drive_th_chat_head {
    display: flex;
    gap: 20px;
}

.drive_th_chat_head .icon {

    border: 1px solid #E2E8F0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.drive_th_chat_head .icon img {
    width: 25px;
}
.drive_th_chat_left .drive_th_chat_que {

    border: 1px solid #E2E8F0;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #F9FAFB;
    font-weight: 600;
    font-size: 16px;
    color: #1B2559;
    width: 500px;
}
.drive_th_chat_left .drive_th_chat_exp {
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #ffff;
    color: #1B2559;
    width: 500px;
}
.drive_th_chat_exp p {
    padding-bottom: 15px;
    color: #1B2559;
    font-weight: 500;
    line-height: 24px;
}
.drive_th_chat_exp ul {
    list-style: decimal;
    padding-bottom: 15px;
}
.drive_th_chat_exp ul li {
font-weight: 500;
line-height: 24px;
}
.drive_th_chat_answer .icon2 {
    border: 1px solid #E92C0F;
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #E92C0F;

}
.drive_th_chat_answer .icon2 img {
    width: 40px;
}
.drive_th_chat_answer {
    display: flex;
    gap: 15px;
}
.drive_th_order {
    width: 100%;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 1px 0px 16px -7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    padding: 40px 25px;
    background-image: url('vapi_custom/static/description/assets/lightning.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.drive_th_order h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.customer {
    display: flex;
    background-color: white;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.147) 2px 12px 20px -12px;
    width: fit-content;
    border: 1px solid #E2E8F0;
    padding: 10px 50px 8px 15px;
    border-radius: 10px;
    gap: 15px;
}
.customer_img {
    max-width: 40px;
    height: 40px;
}
.customer_img img {
    width: 100%;
    border-radius: 50%;
}
.customer_name {
    font-weight: 500;
    font-size: 18px;
}
.customer_name {
    font-weight: 600;
    font-size: 18px;
    color: #1B2559;
}
.dr_th_table {
    padding-top: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E2E8F0;
}
tr {
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
}
th,
td {
    padding: 12px 12px;
    text-align: start;
    border: none;
}
th {
    background-color: #fbfbfb;
}
