.o_legacy_kanban_view.o_kanban_ungrouped
.o_kanban_record {
 flex-direction: column;
 min-height: 230px;
 width: 166px;
 border-radius: 10px;
}

.o_kanban_renderer .o_kanban_record .o_kanban_attachment .o_kanban_image {
    width:200px;
}
.o_kanban_attachment {
  padding: 0;
  height: 140px;
  align-items: center;
}

.o_kanban_record_title {
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 15px;
  text-rendering: auto;
}

.check_box {
  margin-left: 10px;
}

.o_activity_btn span.fa {
  color: inherit;
  font-size: large;
  margin-right: 1px;
  margin-left: 10px;
}

.new_container {
    top: 10%;
    -fill-mode: backwards;
    position: absolute;
    right: 16%;
    align-items: center;
    width: fit-content;
    max-height: 600px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: none;
    box-shadow: none;
}

.new_container button {
  padding-left: 0;
  width: 10%;
  font-size: 200%;
  border-radius:5px !important;
}

.new_container button:hover {
  background-color: LightGray;
}

.kanban_document .o_kanban_record {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  max-width: 234px !important;
  transform: translateX(-2%);
}

.o_kanban_renderer .oe_file_request {
  display: flex !important;
  flex-direction: column;
}

.kanban_table {
  height: 0px;
}

.kanban_document {
  cursor: pointer !important;
  width: 93% !important;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #dee2e6 !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.document_icon {
  max-width: 32px;
  max-height: 50px;
}

.document_lock_wizard {
  width: 48%;
  background: #dde2e6;
}

.document_cancel_wizard {
  width: 50%;
  background: #dde2e6;
}

.preview_image {
  max-width: 266px !important;
  max-height: 188px;
  height: 188px;
  width: 266px;
  border-radius: 10px;
  position: absolute;
  top: -29px;
  left: -89.5px;
}

.selected {
  opacity: 1 !important;
  border-color: #017e84 !important;
  background-color: #e6f2f3 !important;
}

.document_details {
  border: 0 !important;
}

.document_image {
  border: 0 !important;
}

.document_table {
  border: 0 !important;

}

.move_trash_wizard {
  width: 97% !important;
}

.o_form_renderer:has(.move_trash_heading) {
  display: flex !important;
  align-items: center;
  position: inherit;
  justify-content: center;

}

.o_document_kanban_renderer {
  max-width: 100%;
  background-color: white;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.1);
}

.document_management_record {
  max-width: 100%;
  display: grid;
  justify-content: center;
  background: white !important;
}

.document_management_record .o-dropdown {
  visibility: visible !important;
  bottom: 12px;
  left: 85%;
}

.document-modal-content {
  background-color: #fafafa;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 25%;
}

.document-modal-content .o_form_renderer {
  background-color: #fafafa;
}

.document-modal-content .o_form_renderer .o_form_label {
  display: none;
}

.document-modal-content .o_form_renderer .o_input {
  width: 45vh;
  border: none;
  height: 35px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.document-modal-content .o_form_renderer .o_input:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #eaeaea;
}


.document-modal-content .o_form_renderer .o_input:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.document-modal-content .move_trash_heading {
  width: max-content;
  max-width: 329px;
}


.document_lock_icon {
  position: absolute;
  top: 0;
}

/*.o_button_in_kanban_view_view .o_control_panel .o_control_panel_navigation {
  margin-right: 4%;
}*/

.cy-document-right-sidebar {
  position: fixed;
  z-index: 1;
  background: white;
  right: 0;
  bottom: -125px;
  border-top: 1px solid #DFDFDF;
  width: 18%;
  height: 100%;
  border-left: 1px solid #DFDFDF;
}

.o_kanban_view .workspace_panel {
  width: 15% !important;
}

.o_button_in_kanban_view_view .o_component_with_workspace_panel xpath{
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 5%;
    align-items: center;
    display: flex;
    background: white;
    border-bottom: 1.5px solid #DFDFDF;
}

.o_button_in_kanban_view_view .o_component_with_workspace_panel .o_document_kanban_renderer{
    top: 5%;
}

.document_image .on_preview_button{
    height:100%;
    width:100%;
    border-radius: 10px;
    top: -29px;
    left: -89.5px;
}

.document-modal-content .o_form_renderer .o_wrap_field .o_cell.o_wrap_label.flex-grow-1.flex-sm-grow-0.w-100.text-break.text-900{
    display:none;
}

@media (max-width:768px) {
  .o_kanban_view .workspace_panel {
    width: 70% !important;
  }

  .o_document_kanban_renderer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:658px) {
  .o_document_kanban_renderer {
    grid-template-columns: 1fr;
  }
}