.document_preview_template {
    border: 1px solid #000;
    height: 100%;
    padding: 6%;
    margin: 10%;
}

.document_preview_action{
 overflow-y: auto !important;
}
.nav-item :hover{
    cursor: pointer;
}