.website_assistant_container {
    width: 80px;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.micro {
    --width: 45px;
    --height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: var(--height);
    background-color: #714B67;
    border-radius: 50%;
    border: 1px solid #714B67;
    position: relative;
    margin-left: 10px;
}
.micro:hover {
        background-color: #126406;
        box-shadow: 0 8px 16px rgb(18, 100, 6);
        transform: scale(1.05);
}
.micro:before,
.micro:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 3px #714B67;
    border-radius: 50%;
    opacity: 0;
}
@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.micro.active {
    background-color: #714B67;
}
.micro.active:before,
.micro.active:after {
    border-color: #714B67;
    animation: ripple 2s linear infinite;
}
.micro.speech-active {
    background-color: #b90918;
}
.micro.speech-active:before,
.micro.speech-active:after {
    border-color: rgb(185, 9, 24);
    animation: ripple 2s linear infinite;
}
.microphone-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
}
#vapi-support-btn {
    display: none;
}
