.botIcon{
    box-shadow: 0 1rem 1.1rem rgb(0 0 0 / 10%);
    background: white !important;
    position: fixed;
    top: 4.1%;
    left: 64.5%;
    width: 450px;
    min-height: 61px;
    border: 1px solid #00000021;
    z-index: 1050;
}
.cron_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-top: 1.5px solid #00000021;
}
.cron_container:hover{
    background-color: #ededed;
}
.cron_empty_container{
    text-align: center;
    margin-top: revert;
    opacity: 0.5;
}
.cron_name{
    font-size: 14px;
    font-weight: 500;
    color: #1e1f20e3;
}
.cron_nextcall{
    font-size: 11px;
}
.p_class{
    margin-bottom: 0;
}
/* Style for the button */
.cron_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Button hover effect */
.cron_btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Button active effect */
.cron_btn:active {
    background-color: #004080;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}
