.o-mail-PinnedMessages .card {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    }
 .o-mail-PinnedMessages .card-body {
    background-color: transparent !important;

}